<ng-container *ngIf="dataService.recordsWithScreenshots$ | async as cards">
    <ng-container *ngIf="cards.length > 0; else loading">
        <p>Total Games Played: {{ cards.length }}</p>

        <app-record-card
                         *ngFor="let c of cards"
                         [record]="c.record"
                         [screenshotUrl]="c.screenshotUrl"
                         [screenshotPath]="c.screenshotPath"
                         [screenshotStatus]="c.screenshotStatus">
        </app-record-card>
    </ng-container>
</ng-container>

<ng-template #loading>
    <p>Loading records + screenshots…</p>
    <p>Screenshots loaded so far: {{ dataService.screenshotsCount$ | async }}</p>
</ng-template>